<html lang="en" xmlns="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
    <title>Varian warna</title>
</head>

<body>
    <div layout:fragment="content">
        <h1 >Varian Pagee</h1>
		<p align="right">
			<button onClick="userform()" class="btn btn-outline-success">+Tambah User</button>
		</p>
        <table width="100%">
            <thead>
                <tr align="middle">
                    <th>#</th>
					<th>email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>full Name</th>
                    <th>Photo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
	<tr th:each="item, iter: ${lisuser}">
		<td th:text="${iter.count}"></td>
		<td th:text="${item.email}"></td>
		<td th:text="${item.username}"></td>
		<td th:text="${item.password}"></td>
		<td th:text="${item.fullname}"></td>
		<td>
			<img id="imgphoto" th:src="@{${'/imagess/'+ item.photo}}" alt="" height="50"> <br> <!--ini memanggil nama di file customconfig imagess-->
			<button onclick="openimage(this.value)" th:value="${item.id}">show</button>
		</td>
		<!--<td th:text="${item.photo}"></td> -->
		<td>
			<button th:value="${item.Id}" onclick="form(this.value)" class="btn btn-labeled btn-primary">
				<span class="btn-label"><i class="fa fa-pencil"></i></span>
			</button>
			<button th:value="${item.id}" onclick="deleteform(this.value)" class="btn btn-labeled btn-danger">
				<span class="btn-label"><i class="fa fa-trash"></i></span>
			</button>
		</td>
		
	</tr>
</tbody>
        </table>
		<script>
			function userform(){
				$.ajax({
					url: '/user/form/',
					type :'get',
					contentType : 'html',
					success : function(result){
						$('#mymodal').modal('show');
						$('.modal-title').html('form tambah User')
						$('.modal-body').html(result)
					}
				})
			}
			function openimage(id){
				$.ajax({
					url: '/user/getuser/'+id,
					type:'get',
					contentType :'html',
					success: function(result){
						$('#mymodal').modal('show');
						$('.modal-title').html('SHOW FOTO')
						$('.modal-body').html(result)
					}
				})
			}
		</script>
		
    </div>
</body>
</html>
